.user-card {
    width: 320px;
    margin: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
  }
  