.confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  .card {
    width: 400px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
  }
  
  .responsive-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-body {
    padding: 20px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #A3D1DE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  