<div class="container">
    <div class="reset-password-container">
      <h2>Reset Your Password</h2>
      <p>Please enter your new password.</p>
      <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="custom-mat-form-field">
          <mat-label>New Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter new password" formControlName="password">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="custom-mat-form-field">
          <mat-label>Confirm New Password</mat-label>
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm new password" formControlName="confirmPassword">
          <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
  
        <button type="button" mat-raised-button color="primary" class="reset-password-button" (click)="onSubmit()">
            Reset Password
          </button>
      </form>
    </div>
  </div>
  