.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  
    .reset-password-container {
      padding: 20px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 400px;
      text-align: center;
  
      h2 {
        color: #333;
      }
  
      .custom-mat-form-field {
        width: 100%;
        margin-top: 20px;
      }
      .reset-password-button {
        width: 100%; // Butonul să ocupe întreaga lățime a containerului
        margin-top: 20px; // Spațiu deasupra butonului
        padding: 10px 0; // Padding vertical pentru buton
        background-color: #6200ee; // Culoare de fundal pentru buton
        color: white; // Textul butonului să fie alb
        font-weight: bold; // Textul butonului să fie îngroșat
        border: none; // Fără border
        border-radius: 4px; // Colțuri ușor rotunjite pentru buton
        cursor: pointer; // Cursor de tip pointer pentru buton
        transition: background-color 0.3s; // Tranziție pentru culoare de fundal
    
        &:hover {
          background-color: #3700b3; // Schimbă culoarea de fundal la hover
        }
    
        &:disabled {
          background-color: #ccc; // Culoare de fundal pentru buton dezactivat
          cursor: default; // Cursor de tip default pentru buton dezactivat
        }
      }
    }
  }
  