.page-container {
    display: flex;
    height: 95vh;
    width: 99vw;
    align-items: stretch;
    background-color: white;
}

.main-container {
    display: flex;
    flex-grow: 1; /* Se extinde pentru a umple spațiul disponibil */
}


.content {
    margin-top: 100px;
    margin-right: 20px;
    flex-grow: 1;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 20px;
    overflow: hidden; /* Ascunde overflow-ul */
}
