.page-container {
    display: flex;
    height: 96vh;
    width: 99vw;
    align-items: stretch;
    background-color: white;
}

.main-container {
    display: flex;
    flex-grow: 1; /* Se extinde pentru a umple spațiul disponibil */
  height: 96vh;
  width: 99vw;
}


.content {
  margin-top: 4vh;
  margin-right: 20px;
  flex-grow: 1;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 20px;
  overflow: hidden; /* Ascunde overflow-ul */
  overflow-y: scroll; /* Allow vertical scrolling without scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */

}

.content::-webkit-scrollbar {
  display: none;
}
