<mat-dialog-content vocab="http://schema.org/" typeof="Article">
  <h1 property="headline">{{ data.article.headline }}</h1>

    <div class="article-meta-container">
        <div class="article-meta-column">
            <div class="label author-label">Author: <span property="author" typeof="Person">{{ articleData?.author?.[0]?.name || 'Unknown' }}</span></div>
            <div class="label date-label">Date Published: <time property="datePublished" [attr.datetime]="data.article.datePublished">{{ data.article.datePublished | date:'medium' }}</time></div>
            <div class="label type-label">Type: <span property="articleSection">{{ articleData?.['@type'] || 'Unknown' }}</span></div>
            <div class="label language-label">Language: <span property="inLanguage">{{ articleData?.inLanguage || 'Unknown' }}</span></div>
            <div class="label wordcount-label">Word Count: <span property="wordCount">{{ articleData?.wordCount || 'Unknown' }}</span></div>
        </div>
    </div>

    <div class="abstract">
      <strong>Abstract:</strong> <span property="abstract">{{ data.article.abstract }}</span>
    </div>

    <div class="article-body">
      <strong>Article Body:</strong>
      <p *ngFor="let paragraph of articleData?.articleBody" property="articleBody">{{ paragraph }}</p>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Close</button>
  </mat-dialog-actions>
